.titleOfPage{
	box-shadow: 5px 5px 20px #888888;
}

.product{
	box-shadow: 5px 5px 20px #888888;
	padding: 10px;
}

.productTitle{
	text-align:center;
	font-weight:500;
}

.productCost{
	text-align:center;
}

.buttonDiv{
	margin:50px 25px 15px;
}

#showButton{
	padding:10px 30px;
	border-radius:4%;
}

@media (max-width: 640px){
	.colSize {
	    -ms-flex: 0 0 48%;
	    flex: 0 0 48%;
	    max-width: 48%;
	    margin: 1%;
	}
	#showButton{
		font-size: 18px;
	}
	.productTitle{
		font-size: 22px;
	}
	.productCost{
		font-size: 18px;
	}
}
@media (min-width: 640px){
	.colSize {
	    -ms-flex: 0 0 31.33%;
	    flex: 0 0 31.33%;
	    max-width: 31.33%;
	    margin: 1%;
	}
	#showButton{
		font-size: 16px;
	}
	.productTitle{
		font-size: 18px;
	}
	.productCost{
		font-size: 16px;
	}
}
@media (min-width: 1024px){
	.colSize {
	    -ms-flex: 0 0 24%;
	    flex: 0 0 24%;
	    max-width: 24%;
	    margin: 0.5%;
	}
}